sudo: false
language: node_js
node_js:
  - '10'

cache:
  yarn: true
  directories:
    - ./node_modules

script:
  - yarn lint
  - yarn check
  - yarn test
  - yarn docs

deploy:
  local-dir: docs/api
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  on:
    branch: master

notifications:
  email:
    on_success: never
    on_failure: always
