.chord-diagram {
  display: inline-block;
  margin: 10px;
  vertical-align: top;

  li {
    color: white;
    background: lightBlue;
    padding: 3px 8px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    cursor: default;
    font-size: 80%;
    // display: inline-block;

    -webkit-transition: 0.5s background;
    -moz-transition: 0.5s background;
    transition: 0.5s background;

    &.active { background: blue; }
    &:hover { box-shadow: 0 0 3px #000; }
  }
}

tr.sevenths {
  td, th { border-top: none!important; }
}

tr {
  &.ng-hide-add, &.ng-hide-remove {
    -webkit-transition: 0.25s all;
    -moz-transition: 0.25s all;
    transition: 0.25s all;
  }

  &.ng-hide-add,
  &.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
  }

  &.ng-hide-add.ng-hide-add-active,
  &.ng-hide-remove {
    opacity: 0;
  }

  &.ng-hide-remove {
    display: table-row!important;
  }
}
