.chord-diagram {
  margin: 10px;

  li {
    background: lighten(blue, 25%);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    // font-variant: small-caps;
    color: white;
    cursor: default;
    font-size: 80%;
    padding: 3px 8px;

    -webkit-transition: 0.5s background;
    -moz-transition: 0.5s background;
    transition: 0.5s background;

    &.active { background: blue; }
    &:hover { box-shadow: 0 0 3px #000; }
  }

  .fretNumber {
    position: relative;
    top: 10px;
    vertical-align: top;
  }
}

table .chord-diagram {
  display: inline-block;
  vertical-align: top;
}

tr.sevenths {
  td, th { border-top: none!important; }
}

tr {
  &.ng-hide-add, &.ng-hide-remove {
    -webkit-transition: 0.25s all;
    -moz-transition: 0.25s all;
    transition: 0.25s all;
  }

  &.ng-hide-add,
  &.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
  }

  &.ng-hide-add.ng-hide-add-active,
  &.ng-hide-remove {
    opacity: 0;
  }

  &.ng-hide-remove {
    display: table-row!important;
  }
}
