doctype 5
html(lang="en")
  head
    title Chord Diagrams

    link(href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/css/bootstrap.min.css", rel="stylesheet", type="text/css")
    link(href="css/app.css", rel="stylesheet")

    script(src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js")
    script(src="./libs/angularjs/1.2.0-rc.2/angular.js")
    script(src="./libs/angularjs/1.2.0-rc.2/angular-animate.js")
    script(src="./libs/angularjs/1.2.0-rc.2/angular-route.js")
    script(src="./libs/angularjs/1.2.0-rc.2/angular-sanitize.js")
    script(data-main="./js/app.js", src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/1.5.25/jquery.isotope.min.js")

  body
    .ng-view

  .github-fork-ribbon-wrapper.right
    .github-fork-ribbon
      a(href="https://github.com/osteele/fretboard-logic") Fork me on GitHub
