.container.ng-cloak
  ol.breadcrumb
    li: a(href='#') Chords
    li {{chord.full_name}}

  .chord-diagram(ng:repeat="fingering in fingerings")
    div {{$index + 1}}
    chord(chord="chord", fingering="fingering")
