.container.ng-cloak
  ol.breadcrumb
    li: a(href='http://osteele.github.io/#music') Music
    li: a(href='#') Chords

  .checkbox
    input.inline(type="checkbox", ng-model="showSevenths")
    label Show 7<sup>th</sup>s

  table.table.table-responsive
    thead: tr
      th
      th(ng:repeat="numeral in ['I', 'ii', 'iii', 'IV', 'V', 'vi', 'vii°']") {{numeral}}
    tbody(ng:repeat="tonic in tonics")
      tr(ng:repeat="sevenths in [false, true]", ng:hide="sevenths && !showSevenths", ng:class="{sevenths: sevenths}")
        th: div(ng:hide="sevenths") {{tonic}} Major
        td(ng:repeat="chord in getScaleChords(tonic, sevenths)")
          a(ng:href="#/chord/{{chord.name}}")
            h4(ng-bind-html="chord.name | raiseAccidentals")
            chord(chord="chord")
