.container.ng-cloak
  .checkbox
    input.inline(type="checkbox", ng-model="showSevenths")
    label Sevenths

  table.table.table-responsive
    thead: tr: th(ng:repeat="numeral in ['I', 'ii', 'iii', 'IV', 'V', 'vi', 'vii°']") {{numeral}}
    tbody(ng:repeat="tonic in tonics")
      tr(ng:repeat="sevenths in [false, true]", ng:hide="sevenths && !showSevenths")
        th: div(ng:hide="sevenths") {{tonic}} Major
        td(ng:repeat="chord in getScaleChords(tonic, sevenths)")
          a(ng:href="#/chord/{{chord.name}}")
            h4(ng-bind-html="chord.name | raiseAccidentals")
            chord(chord="chord")
